@import "tailwindcss";

:root
{
    font-family: Sansation, sans-serif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
        font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}

/* enable class-based dark mode */
@custom-variant dark (&:where(.dark, .dark *));

html.dark
{
    @apply bg-neutral-900;
}

html
{
    @apply bg-amber-50;
}

@layer utilities
{
    .sansation-bold
    {
        font-family: "Sansation", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    .custom-top-fade
    {
        @apply shadow-[0_-15px_60px_60px_#fffbeb] dark:shadow-[0_-15px_60px_60px_#242424];
    }
}

@keyframes scaleAndRotate
{
    0%
    {
        transform: scale(0.6) rotateX(360deg);
    }

                                50%
                                {
                                    transform: scale(1) rotateX(0deg);
                }

                                100%
                                {
                                    transform: scale(0.6) rotateX(0deg);
                }
                                }
                
                                .custom-animate
                                {
                                    display: inline-block;
                                    /* Ensure the element can be transformed */
                                    animation: scaleAndRotate 4s infinite;
}
@keyframes moveBackground
{
    0%
    {
        object-position: center center;
    }

    75%
    {
        object-position: center top;
    }

    100%
    {
        object-position: center top;
    }
}

.animate-bg-move
{
    animation: moveBackground 10s linear infinite;
}